<div class="container">
  <div class="card top-card">
    <h1>Search</h1>
    <div class="gray">For multiple words separate them by an empty space</div>

    <app-search-bar
      [engines]="availableEngines"
      (search)="handleSearch($event)"
    ></app-search-bar>
  </div>

  <div class="card header-card" *ngIf="searchMade">
    <h2 class="white">Total search hits</h2>
  </div>

  <div class="cards-container">
    <div class="card" *ngFor="let state of engineStates">
      <h2>{{ state.name }}</h2>

      <div class="loader" *ngIf="state.loading"></div>

      <div class="results" *ngIf="!state.loading">
        <div *ngIf="!state.allFailed" class="total-hits">
          Total hits: <span class="bold">{{ formatNumber(state.totalHits) }}</span>
        </div>

        <div class="word-states">
          <ng-container *ngFor="let entry of state.wordResults | keyvalue">
            <span class="word">{{ entry.key }}</span>

            <span class="bold error status" *ngIf="entry.value.errorMessage">Failed</span>
            <span class="bold success status" *ngIf="!entry.value.errorMessage">Success</span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
