@use "../../../styles/variables" as *;

.card {
  background-color: $color-surface;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 2px;
  min-width: 250px;
  min-height: 150px;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.top-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    div { margin-bottom: 10px; }
}

.header-card {
  background-color: $color-turqoise;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;

  span {
      height: fit-content;
  }

  .word {
      font-size: 26px;
  }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 930px;
}

.total-hits { margin-bottom: 10px; }

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
