@use "../../../styles/variables" as *;

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 2s infinite linear;
  margin: 0 auto;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}

.loader::before {
  border-color: $color-turqoise #0000;
  animation: inherit;
  animation-duration: 1s;
  animation-direction: reverse;
}

.loader::after {
  margin: 8px;
}

@keyframes l16 {
  100% {
    transform: rotate(1turn)
  }
}

.card {
  background-color: $color-surface;
  width: fit-content;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  min-width: 300px;
  min-height: 150px;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.top-card {
    width: auto;

    div { margin-bottom: 10px; }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
}
