@use "./styles/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-size: 14px;
  background: $color-background-primary;
  color: $color-text;
}

* {
  font-family: "Open Sans", sans-serif !important;
}

h1, h2, h3 {
    color: $color-text-dark;
    font-weight: 600;
    margin-block-start: 0;
}

h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bold { font-weight: 600; }
.success { color: $color-success; }
.error { color: $color-error; }
.warning { color: $color-warning; }
