@use "./styles/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  background: $color-background-primary;
  color: $color-text;
}

* {
  font-family: "Open Sans", sans-serif !important;
  box-sizing: border-box;
}

h1, h2, h3 {
    color: $color-text-dark;
    font-weight: 600;
    margin-block-start: 0;
}

h1 { font-size: 28px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bold { font-weight: 600; }
.gray { color: $color-text-light; }
.white { color: white; }
.success { color: $color-success; }
.error { color: $color-error; }
.warning { color: $color-warning; }

/*Loading Animation*/
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 2s infinite linear;
  margin: 0 auto;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.loader::before {
  border-color: $color-turqoise #0000;
  animation: inherit;
  animation-duration: 1s;
  animation-direction: reverse;
}
.loader::after {
  margin: 8px;
}
@keyframes l16 {
  100% {
    transform: rotate(1turn)
  }
}
