@use "sass:color";
@use "../../../../styles/variables" as *;

.search-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .search-bar-wrapper {
    border: 1px solid color.scale($color-background-primary, $lightness: -30%);
    border-radius: 9999px;
    display: flex;
    align-items: center;

    input[type=text] {
      border: none;
      outline: none;
      padding: 5px 10px;
      margin-left: 5px;
      font-size: 18px;
      letter-spacing: 0.5px;
      color: $color-text;
      width: 350px;
      border-radius: 9999px 0 0 9999px;
    }

    button {
      background-color: $color-turqoise;
      border: 1px solid $color-turqoise;
      color: white;
      outline: none;
      padding: 5px 20px;
      font-size: 16px;
      border-radius: 0 9999px 9999px 0;
      height: 36px;

      .search-icon {
        fill: white;
      }

      &:not(:disabled):hover {
        background-color: color.scale($color-turqoise, $lightness: 30%);
      }

      &:not(:disabled):hover {
        cursor: pointer;
      }

      &:disabled {
        opacity: 0.6;
        background-color: #cccccc;
        border-color: #cccccc;
        color: #666666;
      }
    }
  }

  .search-bar-wrapper:focus-within {
    outline: 1px solid $color-turqoise;
    outline-offset: -1px;
  }

  .engine-checkboxes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;

   label, input[type=checkbox] {
      cursor: pointer;
      width: fit-content;
    }
  }
}

@media (width <=520px) {
  .search-form {
    flex-direction: column;

    .input-and-checkboxes { width: 100%; flex-direction: column-reverse; }
    input[type=text], button { width: 100%; }
  }
}
