@use "sass:color";
@use "../../../../styles/variables" as *;

.search-form {
  display: flex;
  align-items: flex-start;
  gap: 10px;

  .input-and-checkboxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  input[type=text] {
    border: 1px solid color.scale($color-background-primary, $lightness: -30%);
    outline: none;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: $color-text;
    width: 300px;
  }

  .engine-checkboxes {
    display: flex;
    flex-direction: column;
    gap: 3px;

    label {
      cursor: pointer;
      width: fit-content;

      input[type=checkbox] {
        cursor: pointer;
      }
    }
  }

  input[type=text]:focus {
    outline: 1px solid $color-turqoise;
    outline-offset: -1px;
  }

  button {
    background-color: $color-turqoise;
    border: 1px solid $color-turqoise;
    color: white;
    outline: none;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 2px;
    height: 36px;

    &:not(:disabled):hover {
      background-color: $color-surface;
      color: $color-turqoise;
    }

    &:not(:disabled):hover {
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.6;
      background-color: #cccccc;
      border-color: #cccccc;
      color: #666666;
    }
  }
}

@media (width <=520px) {
  .search-form {
    flex-direction: column;

    .input-and-checkboxes { width: 100%; flex-direction: column-reverse; }
    input[type=text], button { width: 100%; }
  }
}
