$color-background-primary: #f0f0f0;
$color-background-secondary: #f7f7f7;
$color-surface: #ffffff;

$color-text: rgb(60,60,60);
$color-text-dark: rgb(40,40,40);

$color-turqoise: #67c1bf;
$color-orange: #e65544;
